[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
pandas = "*"
seaborn = "*"
scipy = "*"
plotly = "*"
sweetviz = "*"
imbalanced-learn = "*"
mlxtend = "*"

[dev-packages]

[requires]
python_version = "3.8"
