[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
matplotlib = "*"
numpy = "==1.21.4"
scikit-learn = "*"
pandas = "*"
seaborn = "*"
scipy = "*"
plotly = "*"
sweetviz = "*"
imbalanced-learn = "*"
mlxtend = "*"
lime = "*"
shap = "*"
numba = "==0.53.0"
matplotlib-venn = "*"

[dev-packages]

[requires]
python_version = "3.8"
